html{ margin:0; height:100%} 
body{ 
	margin:0; 
	height:100%;
	/* overflow:hidden; */
	} 

#header{
	/* height:80px;
	line-height:80px; */
	background-color:black;
	color:white;
	text-align:center;
	font-style: italic; 
	font-family: Times,TimesNR,'New Century Schoolbook', Georgia,'New York', serif;
	border-bottom:1px solid #000;	
	/* padding-top:5px; */
	padding:5px;
}

.header-content{
	display:inline;
	height:40px;
	line-height:40px;
}

.image-circle{
	border-radius:50px;
}


.colmask{
	position:relative;
	clear:both;
	width:100%;
	overflow:hidden;
}

.colright, .colmid, .colleft {
    float:left;
    width:100%;
    position:relative;
}
.col1, .col2, .col3 {
    float:left;
    position:relative;
    overflow:hidden;
}
.threecol {
    background:black; //huangse
}

.threecol .colmid {
    right:20%;
    background:white; //fense
}
.threecol .colleft {
    right:60%;
    background:black; //tianlan
}
.threecol .col1 {
    width:58%;
    left:101%;
}
.threecol .col2 {
    width:18%;
    left:23%;
}
.threecol .col3 {
    width:18%;
    left:85%;
    color:white;
    font-size:10px;
}

#nav-table-ver-center{
	vertical-align: middle;
}


#footer{
	clear:both;
    /*width:100%;*/
    height:50px;
	line-height:50px;
	text-align:center;
	color:white;
    background:black;
    /*border-top:1px solid #000;*/
}


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
		/* {
		  box-sizing: border-box;
		  margin: 0;
		  padding: 0;
		  font-weight: 300;
		}*/
		/*body{
          font-family:Arial, Helvetica, sans-serif;
		  color: white;
          background:url('background1.jpg') center;
          font-size:13px; 
       }*/
      
		.container {
		  max-width: 600px;
		  margin: 0 auto;
		  padding: 80px 0;
		   padding-top:100px;
		  height: 400px;
		  text-align: center;
		}
		.container h1 {
		  font-size: 40px;
		  -webkit-transition-duration: 1s;
		          transition-duration: 1s;
		  -webkit-transition-timing-function: ease-in-put;
		          transition-timing-function: ease-in-put;
		  font-weight: 200;
		}
		form {
		  padding: 20px 0;
		  position: relative;
		  z-index: 2;
		}
		form button {
		  -webkit-appearance: none;
		     -moz-appearance: none;
		          appearance: none;
		  outline: 0;
		  border: 1px solid #FFB6C1;
		  background-color: #D3D3D3;
		  width: 150px;
		  border-radius: 3px;
		  padding: 10px 15px;
		  margin: 0 auto 10px auto;
		  display: block;
		  text-align: center;
		  font-size: 18px;
		  color: white;
		  -webkit-transition-duration: 0.25s;
		          transition-duration: 0.25s;
		  font-weight: 300;
		}
		form button:hover {
		  background-color: rgba(255, 0, 255, 0.4);
		}
		form button:focus {
		  background-color: red;
		  width: 300px;
		  color: #53e3a6;
		}

		.sidebar-header {
			text-align: center;
			margin-bottom: 10px;
		}
		.sidebar-header .title{
			letter-spacing: 3px;
			text-transform: uppercase;
		}

		.sidebar-header .title a{
			text-decoration: none;
			color: white;
		}
		

		.foot p{
			color:white;
		}

